@font-face {
    font-family: 'Vermin Vibes';
    src: url(../font/Vermin_Vibes_V.otf);
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Vermin Vibes';
}

:root {}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background-color: #000a;
    z-index: 999;
}

#resultado-container {
    display: none;
}

#resultado-container:target {
    display: flex;
}

#resultado-modal {
    justify-content: space-around;
    padding: 10px;
    width: auto;
    max-width: 400px;
    height: 200px;
    background: linear-gradient(87deg, #082368 28%, #07017e 66%);
    background-color: black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 10px outset whitesmoke;
}

#maquina-pensando {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    opacity: 0.5;
}

.botao-container {
    display: flex;
    width: 100%;
    gap: 20px;
}

.botao-container * {
    flex: 1;
    text-decoration: none;
    color: black;
}

body {
    padding: 10px;
    background-color: #111111;
    height: 100vh;
    width: 100%;
    background-image: url(../img/background_pixel.jpg);
    position: relative;
}

h2 {
    color: whitesmoke;
    margin-bottom: 20px;
    font-weight: lighter;
    text-align: center;
}

.flex-column-centralized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row-centralized {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    height: 170px;
    width: 100%;
}

h1 {
    background: linear-gradient(87deg, #082368 28%, #07017e 66%);
    font-family: 'vermin vibes';
    text-align: center;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 30px;
    width: 420px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 10px outset whitesmoke;
    transition: all 1s;
}

h1:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#ranking-container {
    display: none;
}

#ranking-container:target {
    display: flex;
}

#ranking-modal {
    position: relative;
    min-width: 100px;
    height: 70vh;
    overflow-y: scroll;
    background: linear-gradient(87deg, #06236d 28%, #181286 66%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 10px outset whitesmoke;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fechar {
    position: absolute;
    color: white;
    background-color: #0005;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.3s linear;
}

.fechar:hover {
    background-color: #ff4949;
}

#ranking-modal table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    border-color: black;
}

#ranking-modal table tr th {
    background-color: white;
    color: black;
}

#ranking-modal table tr th:first-of-type {
    border: none;
    background-color: transparent;
}

#ranking-modal table td {
    padding-left: 20px;
    font-size: 10px;
    height: 30px;
    border-top: 1px solid black;
    border-bottom-right-radius: 1px solid black;
}

.fonte-amarela {
    color: #ffd700;
}

.fonte-cinza {
    color: #d6d6d6;
}

.fonte-bronze {
    color: #cd7f32;
}

#ranking-modal::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

#ranking-modal::-webkit-scrollbar {
    width: 12px;
}

#ranking-modal::-webkit-scrollbar-thumb {
    background: #ffd700;
    border-radius: 20px;
    border: 3px solid #9c8500;
}

main {
    width: calc(90% - 450px);
    flex: 1;
}

#config-modal-container {
    width: 0%;
    background-color: transparent;
    height: 100%;
    z-index: 1;
}

#campo-config .fechar {
    display: none;
}

#campo-config {
    height: 380px;
    width: 250px;
    margin-left: 40px;
    position: absolute;
    left: 0;
    background: linear-gradient(87deg, #06236d 28%, #181286 66%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 10px outset whitesmoke;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#campo-config * {
    margin: 0px 12.5px 0px 12.5px;
}

#campo-config .cada-questao-container {
    display: flex;
    flex-direction: column;
}

#campo-config .cada-questao-container label {
    margin-bottom: 5px;
}

#campo-config .cada-questao-container select,
#campo-config .cada-questao-container option {
    height: 30px;
    font-size: 0.6rem;
}

#quemEAVezMensagem {
    width: 100%;
    text-align: center;
}

.button-container {
    height: 40px;
    gap: 5px;
}

.button-container button {
    height: 100%;
    font-size: 0.8rem;
    flex: 1;
}

button:hover {
    cursor: pointer;
}

#campo-config .cada-questao-container select,
button {
    box-shadow: 0 0 10px 0 #23689c inset, 0 0 10px 4px #23689c;
}

#campo-config .cada-questao-container select:hover,
.button-container button:hover {
    transition: all 0.5s;
    box-shadow: 0 0 10px 0 #31adff inset, 0 0 10px 4px #31adff;
}

#quem-e-a-vez-mensagem {
    height: 50px;
}

#jogo-container {
    position: relative;
    width: 360px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

#reta-vitoria {
    width: 0;
    height: 4%;
    position: absolute;
}

#reta-vitoria:hover {
    cursor: pointer;
}

#jogo-container>.reta-diagonal {
    width: 125%;
}

#jogo-container>.diagonal-inicio {
    transform: rotate(45deg);
}

#jogo-container>.diagonal-fim {
    transform: rotate(-45deg);
}

#jogo-container>.reta-horizontal {
    transform: rotate(0deg);
    right: 0%;
}

#jogo-container>.primeira-horizontal {
    top: 14%;
}

#jogo-container>.ultima-horizontal {
    bottom: 14%;
}

#jogo-container>.reta-vertical {
    transform: rotate(90deg);
}

#jogo-container>.primeira-vertical {
    margin-right: 69%;
}

#jogo-container>.ultima-vertical {
    margin-left: 69%;
}

.cada-campo {
    width: 33.3333%;
    height: 33.3333%;
    border: 1vw outset whitesmoke;
    transition: all 0.5s ease-out;
}

.cada-campo:hover {
    cursor: pointer;
    background-color: #cc9d9d28;
}

.cada-campo img {
    width: 4vw;
    height: 4vw;
    object-fit: cover;
}

.cada-campo:hover img {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#campo-1,
#campo-2,
#campo-3,
#campo-3 {
    border-top: none;
}

#campo-3,
#campo-6,
#campo-9 {
    border-right: none;
}

#campo-7,
#campo-8,
#campo-9 {
    border-bottom: none;
}

#campo-1,
#campo-4,
#campo-7 {
    border-left: none;
}

footer {
    height: 60px;
    width: 100vw;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    color: whitesmoke;
}

#footer-img-container {
    display: flex;
    position: absolute;
    gap: 20px;
    bottom: 10px;
    right: 0;
    margin-right: 15px;
}

footer img {
    height: 60px;
}

#config-icon {
    display: none;
}