@import url(//db.onlinewebfonts.com/c/e3c6568f663d720746429b638227d340?family=Vermin+Vibes);
@font-face {
    font-family: "Vermin Vibes";
    src: url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.eot");
    src: url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.woff") format("woff"), url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.svg#Vermin Vibes") format("svg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: #111111;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(img/background_pixel.jpg);
}

h1 {
    background: rgb(36, 85, 207);
    background: linear-gradient(87deg, rgba(36, 85, 207, 1) 28%, rgba(35, 29, 142, 1) 66%);
    font-family: "Vermin Vibes";
    text-align: center;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: lighter;
    font-size: 3.5rem;
    width: 420px;
    height: 90px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 10px groove whitesmoke;
}